p, body
{
        margin: 0;
        padding: 0;
        border: 0 none;
}

html {
    font-family: sans-serif;
}

body{
   font-family: Raleway,Helvetica,Arial,sans-serif;
   font-size: 12px;
}

header{
	   background: no-repeat #333;
   background-size: 1020px 450px;
   background-position: top;
}



