p, body
{
        margin: 0;
        padding: 0;
        
}

html {
    font-family: sans-serif;
}

body{
   background-color: #fff;
   background-image: url("1.png");
   background-repeat: no-repeat;
   background-position: top;
   font-size: 16px;
   min-width: 1020px;
   max-height: 400px;
}

div, h1, header{
	margin-left: 220px;
}

img{

	border-radius: 15px;
}

