p, body
{
        margin: 0;
        padding: 0;
        border: 0 none;
}

body{
   font-family: Raleway,Helvetica,Arial,sans-serif;
   font-size: 12px;
}

header{
	   background: no-repeat #333;
}


.primary-footer{
	padding-bottom: 45px;
	padding-top: 45px;
}

